%h1 New Article
=form_with model: @article do |form|
  .container
    =form.label :title
    %br
    =form.text_field :title
  .container
    =form.label :body
    %br
    =form.text_area :body
  .container 
    =form.submit

